doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Profile
      link(rel="stylesheet", href="/styles/style.css", type="text/css")

   body(class="h-screen leading-relaxed flex flex-col m-5")
      div(class="flex justify-end")
         p #{id}
      div(class="intro my-4")
         p Welcome
         h1(class="text-2xl font-semibold") Dashboard
      div(class="my-4 p-4 pt-6 border border-black rounded-lg w-full flex flex-col")
         p Wallets details
         div(class="m-4 mb-8 border border-black rounded-2xl p-4")
            p Your balance:
            p #money
            p #card
         div(class="flex")
            p Cards
            p(class="ml-2 border rounded-md bg-gray-500 text-white text-xs w-fit h-fit p-1 px-2") #{card_count}
         each item in cards
            ul
               li
                  div(class="m-4 border border-black rounded-2xl p-4")
                     p=item.name
                     p=item.id
                     p=item.exp
      div(class="my-4 p-4 border border-black rounded-lg")
         p Status
